In [54]:
import sys,os,time
import pandas as pd
import sqlite3
day = time.strftime("%d_%m_%y")
tcrdDB = 'tcrd_v5.2.0.db'
targetDB = '/ssddata/sdecesco/data/Projects/Database_druggability/databases_sqlite/TargetDB_06_08_18.db'
connector = sqlite3.connect(tcrdDB)
tdb = sqlite3.connect(targetDB)

In [2]:
tcrd_id = """SELECT id as tcrd_id,uniprot as Target_id FROM protein"""
df_id = pd.read_sql(tcrd_id,con=connector)
df_id.to_pickle('tcrd_id_'+day+'.pickle')

In [19]:
tcrd_target = """SELECT id as tcrd_id, tdl as Pharos_class, fam as protein_family, famext as protein_family_detail FROM target"""
df_target = pd.read_sql(tcrd_target,con=connector)
df_target.to_pickle('tcrd_target_'+day+'.pickle')

In [33]:
tcrd_info = """SELECT * FROM tdl_info """
df_info = pd.read_sql(tcrd_info,con=connector)
col_to_keep = ['Ab Count', 'MAb Count', 'NCBI Gene PubMed Count', 'EBI Total Patent Count', 'PubTator Score',
               'JensenLab PubMed Score']
df_info = df_info[df_info['itype'].isin(col_to_keep)]
df_info.loc[:,'value'] = df_info['number_value'].fillna(0) + df_info['integer_value'].fillna(0)
df_info = df_info.pivot(index='protein_id', columns='itype', values='value')
for col in col_to_keep:
    if col not in df_info.columns:
        df_info[col] = 0

df_info.index = df_info.index.astype(int)
df_info.reset_index(inplace=True)
df_info.to_pickle('tcrd_info_'+day+'.pickle')

In [34]:
tcrd_patent = """SELECT * FROM patent_count"""
df_patent = pd.read_sql(tcrd_patent,con=connector)
df_patent.drop(columns=['id'],inplace=True)
df_patent.to_pickle('tcrd_patent_'+day+'.pickle')

In [40]:
tcrd_disease = """SELECT TI.protein_id,TI.disease_id,T.doid,TI.score,T.name,DP.parent
FROM
tinx_importance TI
LEFT JOIN tinx_disease T ON TI.disease_id = T.id
LEFT JOIN do_parent DP on T.doid = DP.doid
ORDER BY TI.score DESC"""
df_disease = pd.read_sql(tcrd_disease,con=connector)
df_disease = df_disease[df_disease.score>1]
df_disease.to_pickle('tcrd_disease_'+day+'.pickle')

In [45]:
tcrd_novelty = """SELECT score,protein_id FROM tinx_novelty"""
df_novelty = pd.read_sql(tcrd_novelty,con=connector)
df_novelty.to_pickle('tcrd_novelty_'+day+'.pickle')

In [55]:
df_info.to_sql('tcrd_info',con=tdb,if_exists='append',index=False)

/ssddata/sdecesco/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:1534: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [59]:
df_novelty

          score  protein_id
0      0.052667        6710
1      0.017907       17415
2      0.003140         203
3      0.012154        3360
4      0.954545       18898
5      0.019259       11058
6      0.109461       13500
7      0.436975       16283
8      0.014412        3748
9      0.169899        1080
10     0.061986       18763
11     0.002926        9646
12     0.021546       15358
13     0.106897         776
14     0.102134        1113
15     0.047664       11098
16     0.188088       14241
17     1.000000        2827
18     0.026176        3156
19     0.001663        5857
20     4.000000        4786
21     0.074042        7709
22     0.020102        6788
23     0.003816        7228
24     0.031816       14957
25     0.033895       15354
26     0.036757        5325
27     0.319149        6303
28     2.000000        2260
29     0.004525       16475
...         ...         ...
17848  0.057282       16038
17849  0.058254        4330
17850  0.012654       17557
17851  4.000000       14604
17852  4.000000       19116
17853  0.005308       16178
17854  0.099641       17992
17855  0.069554       16809
17856  1.039604       10570
17857  0.004689       18912
17858  0.000757       11612
17859  0.410256        6652
17860  0.294479       16241
17861  0.512821       16073
17862  0.007196       16894
17863  0.053180        1145
17864  0.034546        4821
17865  0.120288        2634
17866  0.004925        5261
17867  0.078730       17524
17868  0.039063       14159
17869  0.003326        3875
17870  0.041478        3583
17871  0.213156        3817
17872  0.136452       17815
17873  0.002199         903
17874  0.325497        3476
17875  7.000000        7544
17876  0.006121        1679
17877  0.003638       10977

[17878 rows x 2 columns]